{% extends "structure.html"%}


{% block main %}

<h1>Profile: Atwine Mugume Twinamatsiko</h1>
<img src="{{url_for('static', filename='avatar.jpeg')}}" align="middle" />

<p>How did I get here?
Mine is a great story that begun whilst I was in secondary school -- while others tried to figure out what their futures were going to look like, for some reason I knew mine was in computer. How lucky I was because I did not have to try and fail like some did.

<p>Time came and Iw as enrolled in the class of computer Science on Government Merit in a samall town in Uganda. it was a time of trials and triumpth if I dare say. It paid off later.

<p>I was chanced to go for a masters degree in computer science when I was done in ASIA, while there I met some of the great minds I have ever met and challenged in ways I couldn't imagine myself.

<p>I am a computer science enthusiast. I am very deeply interested in computer science and business. In this instance online business.

<p>My research interests are in the area of business analytics, Machine Learning, especially towards solving African problems in the sectors of Health and Povertry aleviation.

<p>We all have great stories mine is the one of an entrepreneur trying to build a system that will be able to work for me for the rest of my life.

<p>How is this even possible?

<p>While working for a leading communications company in ASIA called Singtel, I was deeply immersed in the technical world as a technical engineer in an environment with terrific speed and cutting edge technology. After a while I was inspired to venture out in business.

<p>It came to me that if i was going to make it big, I needed to be an innovative person and a problem solver, so I left after my contracts to my home. This led to what I call my "mistakes era". In this era I explored all possible solutions that would give me freedom -- in terms of where I work, stay while still earning.

<p>Unfortunately, I don't have any shiny objects to show you in as far as this journey has gone because they are still underway. I am excited to share my experiences with anyone who is willing to listen.

<p>Some of you may be wondering if this is the right place for you, maybe because you feel like you don't have what it takes or have tried many things that are not working. I assure our team felt the same way some time ago and we can relate however we are pushing forward through learning.

<p>I have worked on some projects in the area of online marketing, business intelligence in my past endeavors.

<p>I am also a heavy computer science guy, I have interacted with Machine Learning, Data Analytics, and Deep Learning in order to solve some business queries. In short, I survive on solving people's problems.

<p>I am glad to have you here and looking forward to sharing life with you.</p>

{% endblock main %}
